

    <div class="card">
        <div class="card__image">
            <a class="card-link" href="/details/{{code}}">
                <img src="{{image}}" alt="{{name}} image">
            </a>
        </div>
        <div class="card__info">
            <a class="card-link" href="/details/{{code}}">
                <h3 class="card__info-NAME">{{name}}</h3>
                <p class="card__info-POPULATION">Population : <span class="card__info-POPULATION-DATA">{{population}}</span></p>
                <p class="card__info-REGION">Region : <span class="card__info-REGION-DATA">{{region}}</span></p>
                <p class="card__info-CAPITAL">Capital : <span class="card__info-CAPITAL-DATA">{{capital}}</span></p>
            </a>
        </div>
    </div>
